<app-cnav></app-cnav>
<body style="background:url(../assets/color.jpeg);background-size:100% 100%;background-repeat: no-repeat;">
<section id="about" class="pt-5">
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center mt-2 mb-5">ABOUT US</h1>
        <div class="col-lg-5 col-md-5 col-12 mt-lg-3">
          <img src="../assets/chlogo.jpg"class="img-fluid" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
        </div>
        <div class="col-lg-5 col-md-6 col-12 ">
          <p style="text-align: justify;">Students require more recreational time in order to better focus on lessons in class.Students require more recreational time in order to better focus on lessons in class.Students require more recreational time in order to better focus on lessons in class.Students require more recreational time in order to better focus on lessons in class.Students require more recreational time in order to better focus on lessons in class.
        </div>
      </div>
    </div>
    <div id="contact">
      <h1 class="text-center mt-3 mb-5" style="font-size: 40px;">Contact Us</h1>
    <div class="container-fluid box">
      <div class="row mt-3">
        <div class="col-lg-5 col-md-12 col-12 mt-lg-5">
          <img src="../assets/ch2-3.jpg" class="img-fluid" alt="Responsive image" style="display: block;margin-left: auto;margin-right: auto;width: 70%;">
        </div>
        <div class="col-lg-5 col-md-12 col-12">
          <form class="mb-3">
            <input type="text" class="form-control" placeholder="Enter your name">
            <input type="email" class="form-control" placeholder="Enter your email">
            <textarea class="form-control" placeholder="Enter your message"></textarea>
            <button class="btn search">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>
  


</body>
